{% extends 'maintemp.html' %}
{% load static %}

{% block content %}
<h3 style="font-family:montserrat">Calendar</h3>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%2343425d&amp;ctz=Asia%2FKolkata&amp;src=NHFqYjFoaDVsM3RjNHFjdWcxNDg5cDc3Mm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB&amp;showPrint=0&amp;title=Money%20Magic&amp;showTz=0" style="border: 0; box-shadow:0px 1px 6px #eee;" width=900" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock content %}
